.Orderbook {
    display: flex;
    flex-direction: column;
    font-size: .8em;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.Orderbook table {
    border-collapse: collapse;
    margin: 0 auto;
}

.Orderbook tr:first-child th:first-child {
    text-align: center;
}

.Orderbook th, .Orderbook td {
    min-width: 65px;
    padding: 2px 8px;
    text-align: right;
}

.Orderbook-ask {
    color: #ff7f85;
}

.Orderbook-bid {
    color: #4be252;
}

.Orderbook-control {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    width: 20px;
}

.Orderbook-controls {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8em;
    line-height: 2em;
}

.Orderbook-controls > span {
    display: inline-block;
}

.left-align {
    text-align: left !important;
}