.App {
    align-items: flex-start;
    color: #244b24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 640px;
    padding: 10px;
}

.App > div + div {
    margin-top: 15px;
}

.App-link {
    color: #61dafb;
}

.App-logo {
    pointer-events: none;
    text-align: center;
    width: 100%;
}

.App-main {
    width: 100%;
}

.App-menu {
    width: 100%;
}

.App-name {
    font-family: Anaktoria, serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.App-orderbooks {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Feed-status {
    font-size: .85em;
    margin-top: 5px;
    min-width: 100px;
    text-align: center;
}

.Feed-off {
    color: #ff424a;
}

.Feed-on {
    color: #4be252;
}
